<div class="card mb-3">
    <div class="card-header">
        {{ item.date_pub.date }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.body | truncatewords:15 }}</p>
        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read</a>
    </div>
  <div class="card-footer text-muted">
  Tags:
      {% for tag in item.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
      {% endfor %}
  </div>
</div>