{% extends 'blog/base.html' %}

{% block title %}
    This is my friends
{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">
                {{ post.date_pub.date }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body | truncatewords:15 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
